<!DOCTYPE html>
<html>
  <head>
    <title>Outside is Awesome</title>
    <link rel='icon' href ="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Mountain-Icon.svg/2000px-Mountain-Icon.svg.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Four containers for setting the background images -->
  <div class="parallax">
    <div class="bgimg-2">
      <div class="caption">
        <span class="border">OUTSIDE IS BETTER</span>
      </div>
    </div>

    <div>
      <h3>Go Outside</h3>
      <p>I love being outside. While I like to actually <strong>do</strong> lots of things outside, just the act of <em>being</em> outside is amazing on it's own. I'm not sure if its the air, the beauty, or just the sense of freedom, but there is just something about being outside.</p>
      <ol>
        <lh>The purpose of this webpage is twofold:</lh>
        <li>
          To solidify to you, dear reader, that being outside is indeed awesome.
        </li>
        <li>
          To actually convince you to go outside.
        </li>
      </ol>
    </div>

    <div class="bgimg-2">
    </div>

    <div>
      <p>
        This picture you are so immersed in was in fact taken by me, while being outside. The beauty, expanse, and mystery of nature can only really be experienced outside.
      </p>
      <ul>
        <lh>Here is why:</lh>
        <li>
          Outside is where the air we breath comes from.
        </li>
        <li>
          Seriously what other reason do you need?
        </li>
        <li>
          You are forced to leave behind at least some of the distractions of technology.
        </li>
        <li>
          Outside if beautiful.
        </li>
        <li>
           You’ll feel better and be happier. Science says so.
        </li>
      </ul>
      <p> So what are you waiting for?</p>
    </div>

    <div class="bgimg-2">
      <div class="caption">
        <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">GO OUTSIDE</span>
      </div>
    </div>


  </div>
  </body>
</html>
