<!DOCTYPE html>
<html>
  <head>
    <title>Roan Highlands</title>
    <link rel='icon' href ="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Mountain-Icon.svg/2000px-Mountain-Icon.svg.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <img src="https://lh3.googleusercontent.com/3LBTF2EMO3yR0ZS4-aZqueBxzBEYHFE1D7rt8EByEU2qLvAsn_N2Tw6jzzYOuBnea4iC70DvVus8AYbTpLIvchMpipmZ92696VszM2nsDJqOwOnmbbtN6cxZnX8i_ppVcoyXPLsq192pxrSUoevuJVr2i5-i6hjvIHxGI4Qr3Gj2qZa6XxvnzPo0I3me9vEXW8JEzwBudrQD_DEtEs1JJNEQHO-UMPyaHegQr_0133-Mgb6bbWbZ401XiwqYuFUe4fze_ohVsB4pUm2Devh-Lh1tGJ0Zell2iTzE-5dJGcFBJb2le4W3-6XKJ5v5FuIR6Wo6OHDrFOFR6GnikKBJ5B7xIGvEyU72e9z6738T8RcIJYVWt2TLGN67qvBRoL1diozoW49M2LouPT-JOKPkpaxOjjIWkNe07iMj2x1Bd8agKwzWYwuZVCCKs5Lt03zhYsyIvTRBsm-K0bhHgkzSyz_gI6_0I-8Ah7j0Nk92G4x9mc0rh3oHJ1SRGUPud4C4r-ZPrPNFHiLGHOW6Xg8p__TUjUpTn0HQu6aqwdTxfDkAIyj7vS2IkmkuU7MKu5TUt3cMo0mDgwnMGASJzXcpfdijtxfjri1f82B6qtv_v7d4M2VoO0n1=w975-h157-no" alt="Mountain">

    <h1>Why Outside is Better</h1>
    <p>
      Hello World!
    </p>
  </body>
</html>
